*{
    color: white;
}
h1{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    background-size: initial;
}

.attribution {
    font-size: 11px; text-align: center; 
    width: 100%;
    }
.attribution a { 
    color: hsla(228, 42%, 23%, 0); 
}
#main {
    float: left;
    width: 45%;
    margin-top: 5%;
    margin-left: 5%;
}
#aside {
    float: right;
    width: 45%;
    margin-left: 5%;
    margin-top: 10%;
}
#register_button {
    background-color: white;
    border-radius: 5em;
    height: 4em;
    width: 10em;
    border-color: none;
    justify-content: center;
    align-content: center;
    color: hsl(257, 40%, 49%);
}
#register_button:hover{
    background-color: hsl(300, 69%, 71%);
    border-radius: 5em;
    height: 4em;
    width: 10em;
    border-color: none;
    justify-content: center;
    align-content: center;
    color: white;
    cursor: grabbing;
}
#links{
    margin-top: 18%;
    float: right;
    width: 15%;
    justify-content: right;
}
.socials{
    margin-left: 1%;
    margin-bottom: 2%;
}