
h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3.4em;
    font-weight: 600;
}
body{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
#aside p{
    color: white;
    font-size: 1.3em;
    font-weight: 400;
}
.attribution {
    font-size: 11px; text-align: center; 
    width: 100%;
    position: absolute;
    bottom: 10px;
  
    }
.attribution a, p{ 
    color: white; 
    text-decoration: none;
}
.attribution a:hover{
    color: hsl(300, 69%, 71%);
}
#main {
    float: left;
    width: 45%;
    margin-top: 3%;
    margin-left: 4%;
}
#aside {
    float: right;
    width: 42%;
    margin-left: 4%;
    margin-top: 2%;
    margin-right: 2%;
}
#register_button {
    background-color: white;
    border-radius: 5em;
    height: 3em;
    width: 10em;
    border-color: none;
    justify-content: center;
    align-content: center;
    color: hsl(257, 40%, 49%);
    font-weight: 600;
    font-size: 20px;
}
#register_button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: grabbing;
}
#links{
    width: 14%;
    justify-content: right;
    position: absolute;
    bottom: 10px;
    left: 86%
}
.socials{
    color: white;
    font-size: 48px;
    margin-right: 15px;
  
}
.socials:hover{
    color: hsl(300, 69%, 71%);
    cursor: grabbing;
}
@media screen and (max-width: 768px) {
    body{
        background-color: hsl(257, 40%, 49%);
        background-image: url(./images/bg-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat; /* The width is 100%, when the viewport is 768px or smaller */
    }
    #main,#aside {
        float: none;
        width: 92%;
        height: 35%;
        margin-top: 5%;
        margin-left: 4%;
        margin-right: 4%;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
    h1{
        font-size: 1.2em;
        font-weight: 400;
    }
    #aside p{
        float: none;
        color: white;
        font-size: 1em;
    }
    #links{
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0%;
        bottom: 6%;
    }
    .socials{
        color: white;
        font-size: 20px;
        margin-right: 2%;
    }
    .attribution {
        font-size: 6px; text-align: center; 
        width: 100%;
        position: absolute;
        bottom: 2%;
      }
      #register_button {
        background-color: white;
        border-radius: 5em;
        height: 3em;
        width: 10em;
        border-color: none;
        justify-content: center;
        align-content: center;
        color: hsl(257, 40%, 49%);
        font-weight: 400;
        font-size: 12px;
  }